<!doctype html>
<html>
   <body>

      <form action="/data/" method = "POST">
        <p>a1 <input type = "int" name = "a1" /></p>
        <p>b1 <input type = "int" name = "b1" /></p>
        <p>c1 <input type = "int" name = "c1" /></p>
        <p>d1 <input type = "int" name = "d1" /></p>
        <p>a2 <input type = "int" name = "a2" /></p>
        <p>b2 <input type = "int" name = "b2" /></p>
        <p>c2 <input type = "int" name = "c2" /></p>
        <p>d2 <input type = "int" name = "d2" /></p>
        <p><input type = "submit" value = "Submit" /></p>
      </form>

   </body>
</html>